@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&family=Zen+Antique+Soft&display=swap');

::-moz-selection {
  /* Code for Firefox */
  background-color: #1d9bf066;
}

::selection {
  background-color: #1d9bf066;
}

/* custom scrollbar */
::-webkit-scrollbar {
  border-left: 0.1rem solid #d3d9e0;
  width: 1.25rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ececec;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b5c0cb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fd4755;
}
